@model Web.Models.DashRowModel

<div class="header">
    <div class="icon-gray @Model.IconPath"></div>
    <h2>@Model.Title</h2>
    <span class="hint">@Model.Desc</span>
    <span style="position:absolute;right:65px;top:30px;"><a href>Sign in</a> to view this report.</span>
    <a href="javascript:void(0)" class="reportToggle"></a>
</div>