#tabs-container {
  margin-top: 100px;
}
#tabs-container > ul {
  list-style-type: none;
  padding: 0px;
  height: 20px;
}
#tabs-container > ul > li {
  display: inline;
  padding: 15px 25px;
  cursor: pointer;
  color: #ccc;
}
#tabs-container > ul > li.active {
  display: inline;
  background-color: #eaf9ff;
  font-weight: bold;
  color: #000;
}
#tabs-container > div {
  background-color: #eaf9ff;
  padding: 15px 25px 40px;
}
.businessList {
  list-style-type: none;
}
.businessList dl {
  display: inline-block;
}
.businessList img {
  vertical-align: top;
  margin-right: 10px;
}
.businessList .name {
  font-weight: normal;
  font-size: 16px;
}
.businessList .address {
  color: #656565;
  margin-top: 5px;
  font-size: 12px;
}
.prompt,
.signinToggle {
  color: #000;
  text-decoration: none !important;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}
.prompt:hover,
.signinToggle:hover {
  color: #000;
  text-decoration: none !important;
}
.signin-arrow {
  position: absolute;
  max-width: 20px;
  vertical-align: top;
  right: 0;
  top: 0;
  margin-top: 20px;
}
.border-dotted {
  border-top: 3px dotted #ccc;
}
a.menu {
  color: #fff;
  display: inline-block;
  padding: 0.6em 1em 0.6em 0.75em;
  cursor: pointer;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  background-color: #e78500;
  background-size: 100% 100%;
  font-size: 14px;
  border: none;
  box-shadow: 1px 1px 1px #aaa;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAvCAYAAADaU1s4AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDDRURGTG9PrIAAAC8SURBVDjLrVRBDsMgDHOk/ns/r3spVZolwWxwoSBqY5vESH4gjAMA1YPn/W1un25NAOYRI7Jf0yNK1BboIvJDXdG/qOnQvkSMn/0dM1Rm9vhh8RqRGtVdM2opGYaUmGVNlToTBG9PabKKiM6ebMbIukqGVdbyC993kNsRzyrf+HC7MuAW1aaq5iriqyJniEtiLCJmLeXZi4illzMxe+yRakaKkKtViKwDV4j8uz9iZtFPVcjuAXeIZQ9vBV1EQ3POiyNDMgAAAABJRU5ErkJggg==);
}
#dashboard * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#dashboard * span.prompt {
  font-size: 12px !important;
  font-weight: normal !important;
}
#dashboard * .valueBox {
  border: 1px solid #CCC;
  color: #606060;
  font-size: 1.9em;
  margin: 0;
}
